.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.scrollToTop img {
    width: 96px;
    height: 96px;
}

@media (max-width: 600px) {
    .scrollToTop {
        height: 36px;
        width: 36px;
    }

    .scrollToTop img {
        width: 48px;
        height: 48px;
    }
}